@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

body, #root {
  height: 100vh;
  margin: 0
}